<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coedit.mapper.CollaboratorMapper">

    <insert id="insert" parameterType="com.coedit.entity.DocumentCollaborator" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO document_collaborators (document_id, user_id, permission, status, created_at)
        VALUES (#{documentId}, #{userId}, #{permission}, #{status}, NOW())
    </insert>

    <delete id="delete">
        DELETE FROM document_collaborators WHERE document_id = #{documentId} AND user_id = #{userId}
    </delete>

    <update id="updatePermission">
        UPDATE document_collaborators SET permission = #{permission} WHERE document_id = #{documentId} AND user_id = #{userId}
    </update>

    <update id="updateStatus">
        UPDATE document_collaborators SET status = #{status} WHERE document_id = #{documentId} AND user_id = #{userId}
    </update>

    <select id="findByDocumentId" resultType="com.coedit.entity.DocumentCollaborator">
        SELECT * FROM document_collaborators WHERE document_id = #{documentId}
    </select>
    
    <select id="findByDocAndUser" resultType="com.coedit.entity.DocumentCollaborator">
        SELECT * FROM document_collaborators WHERE document_id = #{documentId} AND user_id = #{userId}
    </select>

</mapper>
